<a href="https://colab.research.google.com/github/shriyashpandey/shriyashpandey/blob/main/Shriyash_Activities.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Activity 1 [ Simple Airthmetic operaations ]

In [2]:
win = 3 ;
loss = 0 ;
draw = 1 ;

london_points = ( 6* win) + ( 2 * loss) + (1 * draw)
london_points

19

In [3]:
2 == 2 ;
print (2 == 2)

True

Activity 2 [ Finding Percentage ]

In [4]:
total_weight = 130
raisins = 50
almonds = 60
apricots = 20
raisins_percent = (50 / (total_weight))*100
raisins_percent

38.46153846153847

Some random practice of arithmetic operators

In [5]:
print ( " HW")

 HW

In [6]:
print (2 + 3+ 4 + 5 +8 )

22

In [7]:
3 == 4

False

In [8]:
a = 4 ;
d = 2 ;
w = 23;

print ( a> d)

True

In [9]:
print ( "Hello World" )

Hello World

In [10]:
10E10

100000000000.0

In [11]:
4E2

400.0

In [12]:
3E2+2 # E represents 10 i.e. EX represents 10 to the power X , 4E10 means 4 into 10 to the power 10

302.0

In [13]:
12*2-4**2+5-2

11

In [14]:
(2+3+8+2) %2 #modulo % operator that gives our remainder

1

In [15]:
3//2 # // this basically floors the answer which means 3/2 is 1.5 and the floor of 1.5 is 1.

1

In [16]:
x = 4;
y = 5;
z = 43;

print ( type (x)) # type() function is used to check the type of a varuable

<class 'int'>

In [17]:
x = 4
y = 3
z = 1
a = x+y+z
print (a)
print (type (a))

8
<class 'int'>

In [18]:
x == y

False

In [19]:
x = y

In [20]:
x == y

True

In [21]:
x != y

False

In [22]:
a = (288**28*20E10)/44//2
b = 10//3
print (b)
print (a)
type (a)

3
1.6578184963632496e+78

float

In [23]:
2 == 8

False

In [24]:
x = 545
fx = x**2+ 3*x -4
print (fx)

298656

About Strings

In [25]:
my_first_string = " hello world of data science "
print (my_first_string)
print (type(my_first_string))

 hello world of data science
<class 'str'>

In [26]:
new_message =  "Hello, It's great you are learning about data data science, you will be successfull, keep working"


print(len(" Hello, It's great you are learning about data data science, you will be successfull, keep working"

   ))
new_message.count("")

98

98

In [27]:
data_science = [20,21,212,44 ]
data_science [3]

44

In [28]:
my_list = [ " Shriyash 21" , "Sakshi 21"]
my_list[ 1] = " Saakshi 21"
print (my_list)

[' Shriyash 21', ' Saakshi 21']

List Data Type

In [29]:
my_second_list = ["Shriyash 21" , "Sakshi 21"]
my_second_list [0] = " Shriyaash 21"
print (my_second_list )

[' Shriyaash 21', 'Sakshi 21']

Tuple Data Type

In [30]:
my_tuple= (1, 2, 3)
print (type (my_tuple))

<class 'tuple'>

Dictionary Data Type

In [31]:
shriyash = { "Home": "Prayagraj" , "Works" : "BNB Chain" , "Learning" : "Data Science" , "Age" : 23 }
shriyash ["Home" ]

'Prayagraj'

In [32]:
type (shriyash ["Home" ])

str

In [33]:
shriyash [ "Works"] = " Arbitrum"
print (shriyash ["Works"])

 Arbitrum

In [34]:
string_test = 'Hello Python' ' Hello Shriyash'
print (string_test)

Hello Python Hello Shriyash

In [35]:
backslash_check = 'Hello \' Ladies '
backslash_check

"Hello ' Ladies "

In [36]:
Enter_Name = input ("")
Enter_Age = input ("")
print (Enter_Name , Enter_Age)
print(type(Enter_Age))

Shriyash
23
Shriyash 23
<class 'str'>

In [37]:
len("my_second_list")

14

In [38]:
n1 = int(input())
n2 = int(input())
n3 = 20
if n1 + n2  == 15 :
  print (n3)
elif n1 == n2  :
  print ("Great n1 is equal n2")
else :
  print ("WTF")

3
2
WTF

In [39]:
my_first_set = { "Hello" , 44 , 4432 }
print(type(my_first_set))

<class 'set'>

In [40]:
test_dict = { " Name " : " Shriyash" , " Fun" : [ "Baseball" , "Cricket ", " Money"] , 69 : 96}
test_dict.keys()
test_dict.values()

dict_values([' Shriyash', ['Baseball', 'Cricket ', ' Money'], 96])

In [41]:
def count_characters(string):
    char_frequency = {}

    for char in string:
        if char in char_frequency:
            char_frequency[char] += 1
        else:
            char_frequency[char] = 1

    return char_frequency

input_string = input("Enter a string: ")
character_count = count_characters(input_string)

print("Character frequency:")
for char, count in character_count.items():
    print(f"'{char}': {count}")

Enter a string: Hello
Character frequency:
'H': 1
'e': 1
'l': 2
'o': 1

In [42]:
float_num = float (input())
output = float_num//2
print(output)

23
11.0

In [43]:
n1 = float(input())
n2 = int(input())
print(round(n1, n2))

12
23
12.0

In [44]:
x = float(input())
print (round (x , 2))

1
1.0

In [45]:
float_num = float (input())
dec_place = int (input ())
output_res = round ( float_num , dec_place)
print (output_res)

3
3
3.0

In [47]:
enter_num = int(input())
if  enter_num/2 == float ():
     print ( " This is an odd number")
else :
    print ( " This is an even number")

22
 This is an even number

In [48]:
enter_num = int(input())
if  enter_num/2 == float ():
     print ( " This is an odd number")
else :
    print ( " This is an even number")

22
 This is an even number

In [49]:
10%2

0

In [50]:
enter_num = int(input())
mod_num = enter_num % 2
if  mod_num > 0 :
  print ( " This is an odd number")
else :
  print ( " This is an even number")

22
 This is an even number

In [51]:
int_one = int ( input ())
int_two = int (input ())
sum_int = int_one + int_two

if int_one + int_two > 80 :
    print ("Overflow")
else :
    print (sum_int)

21
11
32

In [52]:
2E3

2000.0

In [53]:
2 * 10 ** 3

2000

Activity - 1
Solve the Riddle

1. A number elusive, divisible by three, When divided by seven, the remainder is free. Represented by 'x', this enigmatic tale, Find the digits that make this riddle prevail.

2. Quadratic quest, a challenge awaits, With 'a' and 'c', an equation creates. 'B' is unknown, yet to be found, Solve for 'b' to complete the battleground. The value of 'a' is 3, and 'c' is 10.

In [54]:
x = 45
if x//3 == 15 and x%7 == 0 :
  print ( " We got the number")
else :
  print (" Try again")

 Try again

In [55]:
45//3

15

In [56]:
45%7

3

In [57]:
x = 45
if x//3 == 15 and x%7 == 3 :
  print ( " We got the number")
else :
  print (" Try Again")

 We got the number

In [58]:
  a = int(input())
  b = int(input())
  if a%2 == 0 and b%2 == 0:
    print (" Even Number")
  else :
    print (" Odd Number")

21
21
 Odd Number

In [59]:

10**80

100000000000000000000000000000000000000000000000000000000000000000000000000000000

In [60]:
4E10

40000000000.0

In [61]:
num = int(input())
if num > 0:
   print("It is positive number")
elif num == 0:
   print("It is Zero")
else:
   print("It is a negative number")

21
It is positive number

In [62]:
sentence = "Hello, world!"

# Replace "world" with "Python" using slice assignment
sentence_chars = list(sentence)  # Convert the string to a list for slice assignment
sentence_chars[7:12] = "Python"
new_sentence = "".join(sentence_chars)
print(new_sentence)  # Output: "Hello, Python!"

Hello, Python!

In [63]:
sentence = input () # String as immutable , so I can't change things directly
chars_sentence = list(sentence) # Here I converted string to list
chars_sentence[7:12 ] = " Python" # Here I changed the value from index position 7 to 12
new_sentence = "".join(chars_sentence)# Here I created a new_sentence object and assigned it as chars_sentence
print (chars_sentence)
print (new_sentence)
print (sentence)

21
['2', '1', ' ', 'P', 'y', 't', 'h', 'o', 'n']
21 Python
21

In [65]:
x = int(input())
y = int(input())
solution = (x+y)**2
print(solution)

2
2
16

In [66]:

x = int(input())
y = int(input())
result = x * x + 2 * x * y + y * y
print((result))

2
2
16

In [67]:
test_string = input()
print(len(test_string))

d
1

In [68]:
test_set = set(input())
print(type(test_set))
print (len (test_set))

dn
<class 'set'>
2

In [69]:
def find_length(sn):
    return len(sn)

sn = set(input().split(' '))
print(find_length(sn))

dsd
1

In [70]:
txt = "welcome to the jungle"

x = txt.split()

print(x)

['welcome', 'to', 'the', 'jungle']

In [71]:
def find_length(xset):
  return len(xset)

xset = set(input().split(" "))
print(find_length(xset))

sds
1

In [72]:


  xset = set(input().split(" "))
  print(type(xset))

cs
<class 'set'>

In [73]:
def find_length(sn):
    return len(sn)

sn = set(input().split(' '))
print(find_length(sn))

sxcs
1

In [74]:
def find_length(xset):
  return len(xset)

  xset = set(input().split(''))
  print(find_length(xset))

In [75]:
def find_length(sn):
    return len(sn)

sn = set(input().split(' '))
print(find_length(sn))

sds
1

In [76]:
def fl(inp) :
  return len(inp)

inp = input()
print (fl(inp))

sdcsc
5

In [77]:
import this