<a href="https://colab.research.google.com/github/shriyashpandey/shriyashpandey/blob/main/shriyash_activities.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Activity 1 [ Simple Airthmetic operaations ]

In [ ]:
win = 3 ;
loss = 0 ;
draw = 1 ;

london_points = ( 6* win) + ( 2 * loss) + (1 * draw)
london_points

19

In [ ]:
2 == 2 ;
print (2 == 2)

True

Activity 2 [ Finding Percentage ]

In [ ]:
total_weight = 130
raisins = 50
almonds = 60
apricots = 20
raisins_percent = (50 / (total_weight))*100
raisins_percent

38.46153846153847

Some random practice of arithmetic operators

In [ ]:
print ( " HW")

 HW

In [ ]:
print (2 + 3+ 4 + 5 +8 )

22

In [ ]:
3 == 4

False

In [ ]:
a = 4 ;
d = 2 ;
w = 23;

print ( a> d)

True

In [ ]:
print ( "Hello World" )

Hello World

In [ ]:
10E10

100000000000.0

In [ ]:
4E2

400.0

In [ ]:
3E2+2 # E represents 10 i.e. EX represents 10 to the power X , 4E10 means 4 into 10 to the power 10

302.0

In [ ]:
12*2-4**2+5-2

11

In [ ]:
(2+3+8+2) %2 #modulo % operator that gives our remainder

1

In [ ]:
3//2 # // this basically floors the answer which means 3/2 is 1.5 and the floor of 1.5 is 1.

1

In [ ]:
x = 4;
y = 5;
z = 43;

print ( type (x)) # type() function is used to check the type of a varuable

<class 'int'>

In [ ]:
x = 4
y = 3
z = 1
a = x+y+z
print (a)
print (type (a))

8
<class 'int'>

In [ ]:
x == y

False

In [ ]:
x = y

In [ ]:
x == y

True

In [ ]:
x != y

False

In [ ]:
a = (288**28*20E10)/44//2
b = 10//3
print (b)
print (a)
type (a)

3
1.6578184963632496e+78

float

In [ ]:
2 == 8

False

In [ ]:
x = 545
fx = x**2+ 3*x -4
print (fx)

298656

About Strings

In [ ]:
my_first_string = " hello world of data science "
print (my_first_string)
print (type(my_first_string))

 hello world of data science
<class 'str'>

In [ ]:
new_message =  "Hello, It's great you are learning about data data science, you will be successfull, keep working"


len(" Hello, It's great you are learning about data data science, you will be successfull, keep working"

   )

98

In [ ]:
data_science = [20,21,212,44 ]
data_science [3]

44

In [ ]:
my_list = [ " Shriyash 21" , "Sakshi 21"]
my_list[ 1] = " Saakshi 21"
print (my_list)

[' Shriyash 21', ' Saakshi 21']

List Data Type

In [ ]:
my_second_list = ["Shriyash 21" , "Sakshi 21"]
my_second_list [0] = " Shriyaash 21"
print (my_second_list )

[' Shriyaash 21', 'Sakshi 21']

Tuple Data Type

In [ ]:
my_tuple= (1, 2, 3)
print (type (my_tuple))

<class 'tuple'>

Dictionary Data Type

In [ ]:
shriyash = { "Home": "Prayagraj" , "Works" : "BNB Chain" , "Learning" : "Data Science" , "Age" : 23 }
shriyash ["Home" ]

'Prayagraj'